em {
    font-style: normal;
}
#portfolio-listing img  {
   width: 100%;
    padding: 0 50px 30px 0;
    height: 100%;
}
#portfolio-listing {
    width: 100%;
}
#filter-categories {
    margin-left: 0px;!important
}
#home {
    background: #3b4851 url(../image/paralax1.jpg) no-repeat fixed;
    background-size: cover;
    min-width: 1060px;
}
#contact {
    background: #e0e4e7 url(../image/investors.jpg) no-repeat fixed;
    background-size: cover;
    background-position: 0% 0px;
    min-width: 1060px;
}
.skrol {
    overflow: auto;
}
.podskrol {
    width: 100%;!important
}
.slide_man {
    margin-left: 242px;
    position: relative;
    overflow: hidden;
    height: 90px;
    width: 484px;!important
}
.preload, .hidden {
    display: none;
}
.centr_skroll {
    text-align: center;
}
.portfol_pad_blok {
    padding-bottom: 46px;
}
.clearfix_pad_botton {
    padding-bottom: 58px;
}
.ceo_icon_margin {
    margin-left: 33px;
}
.padding_ceo {
    padding-left: 53px;
}
.marg_otmetka_ceo {
    margin-top: -20px;
    margin-left: 19px;
}
.rezyme_ceo {
    margin-top: 17px;
    margin-left: 6px;
    line-height: 17px;
    width: 497px;
}