body {
    font-family: "Arial",sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #5d5d5d;
    background-color: #ffffff;

}
a {
    color: #5d5d5d;
    text-decoration: none;
}
.back_txt:hover {
    color:#777777;
    text-decoration: none;
}
.padblogg{
    padding-bottom: 17px;
}
.container {
    width: 1033px !important;
    max-width: none!important;
}
.fluid {
    width: 100%!important;
    min-width: 1060px;
}
.pad_cont_people {
   padding-top: 23px;
    min-height: 708px;
}
.href_people {
    line-height: 0.3;
    margin-top: 15px;
    margin-left: 42px;
}
.advisors_href {
    margin-left: 24px;
}
.top {
    background: url("../image/werh.png");
    height: 134px;
    border-bottom: 5px solid #ffcb05;
}
.post {
    margin-left: -6px;
    margin-top: 11px;
}
.pad_tony {
    padding-bottom: 31px;
}
.pad_tony2 {
    padding-left: 16px;
}
.topka{
    margin-top: 34px;
}
.cwet_solnca {
    color: #ffcb05;
}
.rastline {
    line-height: 0.3;
    margin-top: 23px;
    margin-left: 48px;
}
.bel_line {
    background: url("../image/bel_line.png")no-repeat;
    height: 44px;
    padding-bottom: 111px;
}

.engmarg {
    margin-left: 18px;
    margin-top: 1px;
}
.razm_obl {
    height: 201px;
}
.cwet_ser_blok {
    color: #777777;
}
.tabtab {
    text-align: center;
    line-height: 0.0;
}
.tab_face {
    padding-top: 42px;
    line-height: 0.2;
}
.cursor_pointer {
    cursor: pointer;
}
.biography {
    margin-left: 3px;
}
.investments {
    margin-left: 44px;
}
.content-face {
    padding-top: 26px;
    line-height: 17px;
}
.der_txt {
    width: 512px;
    letter-spacing: -0.3px;
    margin-left: 2px;
}
.pad_bot_faceblok {
    padding-bottom: 80px;
}
.for_invest_marg {
    margin-top: 41px;
    margin-left: 4px;
}
.txt_if_organization_marg  {
    margin-top: 158px;
    text-align: center;
    margin-left: -38px;
    line-height: 30px;
}
.txt_pole_enter {
    padding-top: 47px;
    padding-left: 37px;
}
.fix_top {
    position: fixed;
    z-index: 1000;
}
.slide {
    padding-top: 134px;
}
.pad_slaid {
    padding-top: 134px;
}
.pad_slider {
    padding-top: 134px;
}
.otstuptab {
    margin-top: 58px;
}
.slide_imag {
    height: 500px!important;
    min-width: 1048px;
    width: 100%;
}
.text_slide {
    margin-bottom: -28px;
    margin-right: 36px;
    line-height: 29px;
}
.blok_1 {
    position: absolute;
    margin-top: -236px;
    margin-left: 222px;
}
.blok_2 {
    position: absolute;
    margin-top: -267px;
}
.ava_marg {
    margin-left: 19px;
    margin-top: 1px;
}
.pad_katz {
    padding-left: 39px;
}
.reuben_top {
 margin-top: 16px;
}
.geekl_top {
    margin-top: -2px;
}
.ceo_top {
margin-top: -10px;
}
.tor_top {
    margin-top: 13px;
}
.energles {
    margin-left: 34px;
    margin-top: 30px;
}
.italic {
    font-style: italic;
}
.energles2 {
    margin-left: 47px;
    margin-top: 36px;
}
.trak {
    margin-left: 92px;
    margin-top: 1px;
}
.trak2 {
    margin-left: 120px;
    margin-top: 3px;
}
.geekl {
    margin-left: 65px;
    margin-top: 4px;
}
.kazan {
    margin-left: 77px;
    margin-top: 13px;
}
.kazan2 {
    margin-left: 67px;
    margin-top: 19px;
}
.centr {
    margin-left: 101px;
    margin-top: 11px;
}
.centr2 {
    margin-left: 46px;
    margin-top: 18px;
}
.blok_kart2 {
    margin-top: 50px;
}
.geekl2 {
    margin-left: 70px;
    margin-top: 4px;
}
.rusmarg {
    margin-left: 7px;
}
.kitmarg {
    margin-left: 2px;
}
.markertop {
    margin-top: 23px;
}
.znak_top {
    margin-top: 6px;
}
.energ_txt {
    margin-top: 20px;
    margin-left: 26px;
}
.kartground {
    background: url("../image/karta.jpg");
}
.form_rassilki {
    position: relative;
    margin-top: -48px;
}
.materia_txt {
    margin-top: 28px;
    margin-left: -13px;
}
.materia_imag {
    margin-left: 8px;
    margin-top: -1px;
}
.what_top {
    margin-top: 42px;
    margin-left: 2px;
}
.cwet_black {
    color: #000000;
}
.cwet_readmore {
    color: #9e9e9e;
}
.energ_imag {
    margin-left: 67px;
    margin-top: 2px;
}
.elect_txt {
    margin-top: 29px;
    margin-left: -5px;
}
.elect_imag {
    margin-left: 12px;
}
.it_txt {
    margin-top: 26px;
    margin-left: 83px;
}
.it_imag {
    margin-left: 65px;
    margin-top: 1px;
}
.language {
    line-height: 0.3;
}
.seredina_polosa {
    min-height: 636px;
}
.seredina_polosa2 {
    background: url("../image/lineeee.png")no-repeat;
    background-position: center top;
}
.list_imag {
    margin-left: 83px;
    margin-top: 5px;
}
.tri_lista_imag {
    margin-top: 55px;
    margin-left: 68px;
}
.derevo_imag {
    margin-top: -14px;
    margin-left: 67px;
}
.preseed_txt {
    margin-left: 80px;
    margin-top: 9px;
}
.seed_txt {
    margin-top: 28px;
    margin-left: 96px;
}
.growth_txt {
    margin-top: 77px;
    margin-left: 83px;
}
.puls_venture {
    margin-left: 2px;
    margin-top: 14px;
    width: 302px;
}
.at_pulsar {
    margin-left: -2px;
    margin-top: 14px;
    width: 277px;
}
.withour {
    margin-left: -12px;
    margin-top: 13px;
    width: 263px;
}
.pad_focus {
    padding-top: 41px;
}
.text_invest {
    margin-top: 14px;
    line-height: 17px;
    margin-left: 2px;
}
.startup {
    margin-top: 36px;
}
.temn_ser_blok {
    background: url("../image/posle_verha.png") repeat-x;
    height: 238px;
}
.trans {
    text-transform: uppercase;
}
.blok_face {
    padding-top: 26px;
    padding-left: 84px;
}
.vlevo_ser_blok {
    margin-left: -37px;
}
.padlef_face_imag {
    padding-right: 6px;
}
.man_face {
    margin-top: 61px;
    margin-left: -2px;
}
.people_menu {
    padding-bottom: 28px;
}
.derrick_txt {
    margin-top: 92px;
}
.pad_tab_block {
    padding-left: 30px;
}
.pad_r_znak {
    padding-right: 3px;
}
.geek_txt_top {
    margin-top: 18px;
    margin-left: -2px;
    line-height: 17px;
    letter-spacing: -0.2px;
}
.visota_tabblok {
    height: 759px;
    border-bottom: 1px solid #e1e1e1;
}
.blog {
    margin-left: 46px;
    margin-top: 41px;
}
.tripalki_ak {
    margin-top: 29px;
    margin-left: 44px;
}
.chel_no_ak {
    margin-left: 55px;
    margin-top: 29px;
}

.unnon {
    margin-top: -10px;
    margin-left: 3px;
}
.unnon2 {
    margin-top: -10px;
    margin-left: 45px;
}
.blog_background:hover{
    background: url("../image/teny.png")no-repeat;
    background-position: bottom;
}
.leader {
    margin-left: 1px;
    margin-top: 18px;
    line-height: 18px;
    letter-spacing: -0.1px;
    width: 913px;
}
.leader2 {
    margin-left: 7px;
    margin-top: 9px;
    line-height: 17px;
    letter-spacing: -0.1px;
    width: 679px;
}
.more {
    float: left;
    margin-top: -12px;
    margin-left: 2px;
    color: #0072bc;
}
.share {
    margin-top: 42px;
    letter-spacing: 0.3px;
}
.padtop_blog {
    padding-top: 134px;
}
.share2 {
    margin-top: 23px;
    margin-left: 5px;
    letter-spacing: 0.3px;
}
.pad_kart_blog {
    padding-bottom: 44px;
}
.ssilka_back {
    margin-left: 56px;
}
.back_imag {
    margin-left: -12px;
    padding-right: 12px;
    margin-top: -7px;
}
.tw_blog {
    margin-left: 9px;
    margin-top: -3px;
}
.fb_blog {
    margin-left: 5px;
    margin-top: -3px;
}
.in_blog {
     margin-left: 2px;
     margin-top: -3px;
 }
.padblok_coin {
    padding-left: 58px;
    padding-top: 31PX;
    padding-bottom: 45PX;
}
.carousel_setting {
    height: 100px;
    right: 0%;
    left: 0%;
    padding-bottom: 50px;
    margin-bottom: -20px;
    width: 100%;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.8) 0,rgba(0, 0, 0, 0.8) 100%);
}
#people {
    padding-top: 100px;
    float: left;
}
#portfolio {
    padding-top: 10px;!important
    min-height: 864px;!important
}
#our_focus {
    position: absolute;
    margin-top: -130px;
}
#portfol {
    position: absolute;
    margin-top: -130px;
}
#what {
    position: absolute;
    margin-top: -35px;
}
#peopl {
    position: absolute;
    margin-top: -160px;
}
#invest {
    position: absolute;
    margin-top: -120px;
}
#contactus {
    position: absolute;
    margin-top: -150px;
}
.carousel-inner {
    min-width: 1060px;
    height: 500px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 0;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.428571429;
    border: 4px solid transparent;
    border-radius: 0 0 0 0;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    margin-right: -12px;
    margin-left: 12px;
    margin-top: 7px;
}
.nav-tabs {
    border-bottom: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 4px solid #ffdd00;
}
.nav-tabs>li>a:hover {
    border: 4px solid #ffdd00;
    border-radius: 0px 0px 0 0;
}
.align_txt_people{
    text-align: center;
    padding-right: 111px;
    word-spacing: 15px;
}
.tab_content2 {
    width: 55%;
    margin: 16px auto;
    margin-bottom: 0px;
}
.strel_slide_left {
    background: url("../image/str_left_slaid.png")no-repeat;
    height: 35px;
    width: 19px;
    position: absolute;
    margin-top: 31px;
    margin-left: -13px;
}
.strel_slide_richt {
    background: url("../image/str_richt_slide.png")no-repeat;
    height: 35px;
    width: 19px;
    position: absolute;
    margin-top: 33px;
    margin-left: -7px;
}
.carousel-control {
    margin-top: 534px;
    position: absolute;
    z-index: 100;
    height: 100px;
    width: 100px;
    margin-left: 175px;
    background-color: #424242;
    background-repeat: repeat-x;
    top: 0;
    bottom: 0;
    left: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
    opacity: .8;
}
.carousel-control.left {
background-image: -webkit-gradient(linear,0 top,100% top,from(rgba(0,0,0,0.36)),to(rgba(0, 0, 0, 0.36)));!important
background-image: linear-gradient(to right,rgba(0, 0, 0, 0.62) 0,rgba(0, 0, 0, 0.62) 100%);!important
background-image: -moz-linear-gradient(left,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.0001) 100%);!important
background-image: linear-gradient(to right,rgba(0,0,0,0.5) 0,rgba(0, 0, 0, 0) 100%);!important
}
.carousel-control.right {
margin-right: 219px;
background-image: -webkit-gradient(linear,0 top,100% top,from(rgba(0,0,0,0.36)),to(rgba(0, 0, 0, 0.36)));!important
background-image: linear-gradient(to right,rgba(0, 0, 0, 0.62) 0,rgba(0, 0, 0, 0.62) 100%);!important
background-image: -moz-linear-gradient(left,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.0001) 100%);!important
background-image: linear-gradient(to right,rgba(0,0,0,0.5) 0,rgba(0, 0, 0, 0) 100%);!important
}
.padblok_coin2 {
    padding-left: 58px;
    padding-top: 24PX;
    padding-bottom: 45PX;
}
.sity_imag {
    margin-left: 44px;
    margin-top: 14px;
}
.padblok_coin2 {
    padding-top: 31PX;
    padding-bottom: 45PX;
}
.coinves {
    margin-left: 44px;
}
.padznaki {
    padding-bottom: 6px;
}
.padznaki2 {
    padding-bottom: 41px;
}
.tony {
    margin-top: 22px;
    margin-left: 43px;
}
.display_inline {
    display: inline;
}
.tab_cat {
    padding-top: 17px;
    padding-right: 98px;
}
.stark {
    margin-top: 26px;
    margin-left: -10px;
}
.stark2 {
    margin-top: 44px;
    margin-left: -12px;
}
.manager {
    margin-top: -15px;
    margin-left: -6px;
}
.manager2 {
    margin-top: -15px;
    margin-left: -9px;
}
.padznaki_stat {
    padding-bottom: 26px;
}
.peopl {
    margin-top: 5px;
    margin-left: 3px;
}
.logniz {
    margin-top: 49px;
    margin-left: 46px;
}
.soc_pad {
    margin-top: 74px;
}
.soc_pad_face {
    margin-left: 4px;
    margin-top: -4px;
}
.tw_niz {
    margin-left: 81px;
}
.in_niz {
    margin-left: 8px;
}
.pulsvent {
    margin-top: 64px;
    margin-left: 55px;
}
.group {
    margin-left: 70px;
    margin-top: -11px;
}
.portfol {
    margin-top: 31px;
    margin-left: 3px;
}
.invest {
    text-align: center;
    margin-left: -38px;
}
.cwet_ffffff {
    color: #ffffff;
}
.rama_kol {
    padding: 15px;
    width: 485px;
    margin-left: 14px;
}
.razmer_12 {
    font-size: 12px;
}
.razmer_16 {
    font-size: 16px;
}
.razmer_18 {
    font-size: 18px;
}
.razmer_20 {
    font-size: 20px;
}
.razmer_24 {
    font-size: 24px;
}
.razmer_30 {
    font-size: 30px;
}
.razmer_40 {
    font-size: 40px;
}
.cwet_serser {
    color: #474747;
}
.rama:hover{
    border: 1px solid #e1e1e1;
    cursor: pointer;
    background-color: white;
    padding: 13px;
}
.rama {
    padding:  14px;
}
.bold {
    font-weight: bold;
}
.carousel-inner>.item>img,.carousel-inner>.item>a>img {
    display:block;
    height:auto;
    width:100%;
    line-height:1
}
.sr_ser_blok {
    /*background: url("../image/ser_seredina.png");*/
    padding-bottom: 213px;

}
.pad_top_contact {
    padding-top: 40px;
    padding-bottom: 70px;
}
.geltiy_blok {
    background-color: #ffdd00;
    border-radius: 57px 0px 0px 0px;
    width: 946px;
    margin-left: 25px;
}
.pad_bot_getintouch {
    padding-bottom: 30px;
}
.viemka1 {
    margin-left: -6px;
    margin-top: 13px;
}
.viemka2 {
    float: right;
    margin-right: -6px;
    margin-top: 15px;
}
.pad_getin {
    padding-top: 19px;
}
.get_txt {
    margin-left: 22px;
}
.wedlove_txt {
    margin-left: -40px;
    margin-top: 2px;
    letter-spacing: -0.1px;
}
.pad_top_contdan {
    padding-top: 22px;
}
.pad_leftblok_russia {
    padding-left: 31px;
}
.pad_leftblok_usa {
    padding-left: 7px;
}
.pad_leftblok_china {
    padding-left: 14px;
}
.russia_kazan_txt {
    line-height: 18px;
}
.info_kazan{
    line-height: 17px;
    margin-top: -7px;
}
.pad_bot_formgroup {
    margin-bottom: 9px;
}
.form-control {
    height: 40px;
    width: 233px;
    border: 2px solid white;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control1 {
    padding-left: 7px;
    margin-left: 9px;
    margin-top: 5px;
    height: 37px;
    width: 325px;
    border: 2px solid white;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.pad_pole_name {
    padding-bottom: 19px;
}
.size_textpole {
    margin-left: -25px;
    margin-top: 4px;
    width: 521px;
    height: 160px!important;
    resize: none;
}
.white_blok {
    background-color: white;
    margin-left: -25px;
    width: 521px;
    height: 39px;
}
.form-control:focus{
    border: 2px solid #fdb916;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0),0 0 8px rgba(102, 175, 233, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0),0 0 8px rgba(102, 175, 233, 0);
}
.btn_enter {
    height: 40px;
    width: 79px;
    margin-left: -6px;
    margin-top: -4px;
    background-color: #ffdd00;
    border: 0px solid transparent;
    border-radius: 0px;
}
.btn_enter:hover:focus {
    border: 0px solid #ffdd00;
    border-radius: 0px;
    background-image: none;
}
.soc {
    padding-left: 50px;
}
.cwet_sin {
    color:#0072bc;
}
.close_pulsar {
    margin-left: 19px;
    margin-top: -1px;
    margin-right: 30px;
    font-size: 30px;
}
.close_txt{
    float: right;
    margin-top: 29px;
}
.modal-header a:hover, a:focus {
    color: #777777;!important
    text-decoration: none;!important
}
.cwet_temn_ser {
    color:#303030;
}
.modal-header {
    min-height: 16.428571429px;
    padding: 15px;
    padding-bottom: 0px;
    border-bottom: 0px;
}
.modal-body {
    position: relative;
    padding-left: 46px;
    padding-top: 7px;
}
.pad_krugskr {
    margin-top: -4px;
    margin-left: 1px;
    padding-right: 10px;
}
.modal-body h4 {
    background: url("/image/krugl.png") no-repeat;
    padding-left: 24px;
    background-position-y: 3px;
}
.modal h4 {
    text-transform: uppercase;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}
.modal p {
    margin-left: 26px;
    margin-top: 12px;
    line-height: 17px;
    padding-right: 19px;
    color:#303030;
}
.modal_txt {
    margin-left: 26px;
    margin-top: 12px;
    line-height: 17px;
    padding-right: 19px;
}
.height_content {
    height: 600px;
}
.blok_modal_text {
    padding-bottom: 12px;
}

.skroll {
    position: relative;
    height: 454px;
    width: 709px;
    margin-top: 10px;
    overflow: auto;
}
.close_imag {
    margin-left: 7px;
    padding-right: 12px;
    margin-top: -7px;
    padding-left: 12px;
}

.ssilka_close {
    float: right;
    cursor: pointer;
    margin-right: 22px;
    margin-top: 29px;
}
.razm_mod_dial {
    width: 822px;
}
.experi {
    margin-top: 22px;
    margin-left: 29px;
}
.otm {
    background: url("../image/otmet.png")no-repeat;
    float: left;
    width: 16px;
    height: 19px;
    margin-top: -1px;
    margin-left: -5px;
    padding-right: 26px;
}
.monohrom {
    -webkit-filter: grayscale(100%);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.monohrom:active {
    -webkit-filter: grayscale(0%);
}
.monohrom:focus {
    -webkit-filter: grayscale(0%);
}
.monohrom:hover {
    -webkit-filter: grayscale(0%);
}
.gel_knp {
    margin-top: 16px;
    width: 143px;
    height: 40px;
    outline: none!important;
    color: #333;
    background-color: #ffdd00;
    border-color: #ffdd00;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 1.33;
    border-radius: 0px;

}
.gel_knp_plus {
    position: absolute;
    margin-top: -30px;
    height: 19px;
    width: 21px;
    margin-left: -13px;
    padding: 0px;
    font-size: 24px;
    line-height: 1px;
}
.btn_send {
    background-color: #fff799;
    border-color: #fff799;
    margin-left: -22px;
    margin-top: 18px;
    padding: 0px;
    height: 40px;
    width: 152px;
    padding-top: 2px;
    padding-right: 4px;
}
.niz {
    background: url("../image/nizkont.png");
    height: 161px;
}
.blok_niz_otstup {
margin-top: 173px;
}
.logomarg {
    margin-top: 3px;
}
.inmarg {
    margin-left: 4px;
}
.speed_img {
    margin-top: 4px;
    margin-left: -13px;
}
.speed_txt {
    margin-left: -7px;
    margin-top: -1px;
    color: #000000;
}

.txt_speed {
    letter-spacing: -0.3px;
    line-height: 17px;
    margin-left: -6px;
    color: #000000;
}
.readmore {
    margin-left: -6px;
}
.visota_blokov_border {
    min-height: 732px;
}
.primer6{
    position:relative;
    -webkit-box-shadow: 0 1px 4px rgba(255, 255, 255, 0), 0 0 40px rgba(255, 255, 255, 0) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(255, 255, 255, 0), 0 0 40px rgba(255, 255, 255, 0) inset;
}

.primer6:before, .primer6:after{
    content:"";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.82);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    -moz-border-radius: 100px / 10px;
    border-radius: 312px / 50px;
}

.primer6:after{right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);}

.box h3{text-align:center;
    position:relative;
    top:80px;}

.box{
    height:200px;
    background:#FFF;
    margin:40px auto;}