<section id="portfolio" class="clearfix skrollable skrollable-between container fluid"

         data-bottom-top="background-position: center 125px;" data-top-bottom="background-position: center -400px;"
         style="background-position: 50% -51.80645161290323px;">
    <div class="container">
        <div class="row portfol_pad_blok">
            <div class="col-xs-12">
                <p class="razmer_30 bold trans portfol cwet_black">portfolio</p>
            </div>
        </div>
        <article class="clearfix clearfix_pad_botton">
            <h1 class="fade-in trans bold razmer_40 cwet_black centr_skroll">
                We invest
                <em class="scroll-list-item cwet_solnca" style="display: none;"> our knowledge</em>
                <em class="scroll-list-item cwet_solnca" style="display: none;">our knowledge2</em>
                <em class="scroll-list-item cwet_solnca" style="display: none;">our knowledge3</em>
                <em class="scroll-list-item cwet_solnca" style="display: none;">our knowledge4</em>
                <em class="scroll-list-item cwet_solnca" style="display: none;">our knowledge5</em>
                <em class="scroll-list-item cwet_solnca" style="display: none;">our knowledge6</em>
            </h1>

            <div id="company-information" class="row hidden">
                <div class="col-xs-2">
                    <img src="" class="ceo-icon ceo_icon_margin" alt="" width="145" height="143">
                </div>
                <div class="col-xs-3 padding_ceo">
                    <p class="name bold trans razmer_18 cwet_black reuben_top"></p>

                    <p class="position italic ceo_top"></p>

                    <img src="image/otmetka.png"><p class="trans cwet_black location with-icon marg_otmetka_ceo"></p>
                    <img src="image/zemnshar.png" class="pad_r_znak"><a href="#" class="trans cwet_black url with-icon"></a>

                </div>
                <div class="col-xs-7">
                    <p class="cwet_black description rezyme_ceo"></p>
                </div>
        </article>
    </div>

    <div id="max-width-container" class="clearfix container">
        <div id="filter-categories" class="bel_line"style="margin-left: 0">
            <nav  class="cl-effect-3 tabtab cwet_ser_blok tab_cat">
                <ul class="display_inline">
                    <li class="display_inline"><a href="#" data-filter=".energy" class="active">energy efficiency</a></li>
                    <li class="display_inline"><a href="#" data-filter=".it" class>it</a></li>
                    <li class="display_inline"><a href="#" data-filter=".electronics" class>electronics</a></li>
                    <li class="display_inline"><a href="#" data-filter=".materials" class>new materials</a></li>
                    <li class="display_inline"><a href="#" data-filter="*" class>All</a></li>
                </ul>
            </nav>
        </div>
        <div id="portfolio-listing-scrollable-container" style="margin-left: 471.5px;">
            <div id="portfolio-listing" style="position: relative; overflow: hidden; height: 348px; width: 1060px;" class="isotope">
                <a href="#energoles" id="energoles" data-company-name="energoles"
                   data-company-description="Geeklist offers the global community of developers a platform where
   they can share their experiences, contact each other, receive recognition from colleague,
    create a network of business contacts and
    join the geek-community. It also offers them a targeted way to find new employers and employees around the world.&lt;br /&gt;&lt;br /&gt;
" data-company-url="Geekli.st" data-company-location="Toronto, ON"
                   data-angellist-link=""
                   data-logo-color="../image/energoles.png"
                   data-logo-grayscale="../image/energoles.png"
                   data-contact-name="Reuben Katz" data-contact-position="Founder & CEO"
                   data-contact-headshot="../image/ava.png"
                   data-contact-twitter-handle="geeklist" class="it portfolio-logo isotope-item isotope-hidden"
                   style="position: absolute; left: 0px; top: 0px; opacity: 0; -webkit-transform: scale3d(0.001, 0.001, 1);"><img
                        src=image/energoles.png alt="geeklist"  width="200" height="86">
                </a>
                <a href="#10track" id="10track" data-company-name="10track"
                   data-company-description="Geeklist offers the global community of developers a platform where
   they can share their experiences, contact each other, receive recognition from colleague,
    create a network of business contacts and
    join the geek-community. It also offers them a targeted way to find new employers and employees around the world.&lt;br /&gt;&lt;br /&gt;
" data-company-url="Geekli.st" data-company-location="Toronto, ON"
                   data-angellist-link=""
                   data-logo-color="../image/10tracks.png"
                   data-logo-grayscale="../image/10tracks.png"
                   data-contact-name="Reuben Katz" data-contact-position="Founder & CEO"
                   data-contact-headshot="../image/ava.png"
                   data-contact-twitter-handle="10track" class="it portfolio-logo isotope-item isotope-hidden"
                   style="position: absolute; left: 0px; top: 0px; opacity: 0; -webkit-transform: scale3d(0.001, 0.001, 1);"><img
                        src=image/10tracks.png alt="10track" width="200" height="86">
                </a>
                <a href="#geeklist" id="geeklist" data-company-name="Geeklist"
                   data-company-description="Geeklist offers the global community of developers a platform where
   they can share their experiences, contact each other, receive recognition from colleague,
    create a network of business contacts and
    join the geek-community. It also offers them a targeted way to find new employers and employees around the world.&lt;br /&gt;&lt;br /&gt;
" data-company-url="Geekli.st" data-company-location="Toronto, ON"
                   data-angellist-link=""
                   data-logo-color="../image/geekli_zel.png"
                   data-logo-grayscale="../image/geekl.png"
                   data-contact-name="Reuben Katz" data-contact-position="Founder & CEO"
                   data-contact-headshot="../image/ava.png"
                   data-contact-twitter-handle="geeklist" class="it portfolio-logo isotope-item isotope-hidden"
                   style="position: absolute; left: 0px; top: 0px; opacity: 0; -webkit-transform: scale3d(0.001, 0.001, 1);"><img
                        src=image/geekl.png alt="geeklist" width="200" height="86">
                </a>
                <a href="#kazan-univer" id="kazan-univer" data-company-name="kazan-univer"
                   data-company-description="Geeklist offers the global community of developers a platform where
   they can share their experiences, contact each other, receive recognition from colleague,
    create a network of business contacts and
    join the geek-community. It also offers them a targeted way to find new employers and employees around the world.&lt;br /&gt;&lt;br /&gt;
" data-company-url="Geekli.st" data-company-location="Toronto, ON"
                   data-angellist-link=""
                   data-logo-color="../image/kazan-univer.png"
                   data-logo-grayscale="../image/kazan-univer.png"
                   data-contact-name="Reuben Katz" data-contact-position="Founder & CEO"
                   data-contact-headshot="../image/ava.png"
                   data-contact-twitter-handle="kazan-univer" class="energy portfolio-logo isotope-item isotope-hidden"
                   style="position: absolute; left: 0px; top: 0px; opacity: 0; -webkit-transform: scale3d(0.001, 0.001, 1);"><img
                        src=image/kazan-univer.png alt="kazan-univer" width="200" height="86">
                </a>
                <a href="#center" id="center" data-company-name="center"
                   data-company-description="Geeklist offers the global community of developers a platform where
   they can share their experiences, contact each other, receive recognition from colleague,
    create a network of business contacts and
    join the geek-community. It also offers them a targeted way to find new employers and employees around the world.&lt;br /&gt;&lt;br /&gt;
" data-company-url="Geekli.st" data-company-location="Toronto, ON"
                   data-angellist-link=""
                   data-logo-color="../image/center.png"
                   data-logo-grayscale="../image/center.png"
                   data-contact-name="Reuben Katz" data-contact-position="Founder & CEO"
                   data-contact-headshot="../image/ava.png"
                   data-contact-twitter-handle="kazan-univer" class="electronics portfolio-logo isotope-item isotope-hidden"
                   style="position: absolute; left: 0px; top: 0px; opacity: 0; -webkit-transform: scale3d(0.001, 0.001, 1);"><img
                        src=image/center.png alt="center" width="200" height="86">
                </a>
                <a href="#center" id="center" data-company-name="center"
                   data-company-description="Geeklist offers the global community of developers a platform where
   they can share their experiences, contact each other, receive recognition from colleague,
    create a network of business contacts and
    join the geek-community. It also offers them a targeted way to find new employers and employees around the world.&lt;br /&gt;&lt;br /&gt;
" data-company-url="Geekli.st" data-company-location="Toronto, ON"
                   data-angellist-link=""
                   data-logo-color="../image/center.png"
                   data-logo-grayscale="../image/center.png"
                   data-contact-name="Reuben Katz" data-contact-position="Founder & CEO"
                   data-contact-headshot="../image/ava.png"
                   data-contact-twitter-handle="kazan-univer" class="materials portfolio-logo isotope-item isotope-hidden"
                   style="position: absolute; left: 0px; top: 0px; opacity: 0; -webkit-transform: scale3d(0.001, 0.001, 1);"><img
                        src=image/center.png alt="center" width="200" height="86">
                </a>
            </div>
        </div>
    </div>


</section>